<div class="welcome-flex">
    <div class="welcome-left">
        <h2>வணக்கம் <span class="welcome">{{user}}</span> !</h2>
        <h5 style="font-weight:600">உங்களின் கடைகள் : </h5>
    </div>
    <div class="welcome-right">
        <a href="/shop/add">
            <button type="button" class="btn btn-danger btn-lg" style="background-color:#e51e2a">கடையைச் சேர்க்க</button>
        </a>
    </div>
</div>




<br>
{{#if shops}}
{{#each shops}}

<div class="flex">
    <div class="shopkeeper-shops" style="padding-bottom:20px">
        <div class="card" style="width: 25rem; border-left: 6px solid red;">
            <div class="card-body">
                <h5 class="card-title" style="color:black;font-weight:bold;font-size:25px">{{shopNameTamil}} </h5>
                <p class="card-text" style="color:rgb(0, 123, 255);font-weight: 600;font-size:15px">இக்கடையின் உரிமையாளர் : <span class="welcome">{{owner.tamilName}}</span></p>
                                <a href="/shop/{{_id}}/edit" class="btn btn-primary item-edit"><i class="fa-sharp fa-solid fa-pen-to-square"></i></a>
                <a href="/shop/{{_id}}/orders" class="btn btn-primary">ஆர்டர்கள்</a>
                <a href="/shop/explore/{{_id}}" style="margin-left:50px" class="btn btn-dark">விவரங்கள்</a>
                <form action="/shop/{{_id}}/delete" method="post" class="shop-del">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit" class="btn btn-danger">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>


{{/each}}
{{else}}
    <div>
        <h1 class="welcome">கடைகள் சேர்க்கப்படவில்லை !</h1>
    </div>
{{/if}}
<br>
<br>